.vs/
obj/Debug/XeniaUpdater.exe
obj/Debug/XeniaUpdater.exe
obj/Debug/XeniaUpdater.pdb
bin/Debug/xenia.log
bin/Debug/XeniaCanary/LastUpdate/xenia_canary.zip
bin/Debug/XeniaCanary/xenia_canary.exe
bin/Debug/XeniaCanary/xenia_canary.zip
bin/Debug/response.txt
bin/Debug/UploadFile.bat
.vscode/launch.json
.idea/.idea.XeniaUpdater/.idea/encodings.xml
.idea/.idea.XeniaUpdater/.idea/indexLayout.xml
.idea/.idea.XeniaUpdater/.idea/projectSettingsUpdater.xml
.idea/.idea.XeniaUpdater/.idea/vcs.xml
.idea/.idea.XeniaUpdater/.idea/workspace.xml
